/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-ap-ap-contact-card {
	.components-placeholder__fieldset {
		flex-direction: column;

		.workplace {
			margin-bottom: 8px;
			
			.components-flex {
				flex-direction: row;
				justify-content: flex-start;
			}
		}
	}
}
